.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 32px !important;
  padding-left: 32px !important;

  background-color: rgba(255, 255, 255, .8);
  border-radius: 40px;
}

.menu {
  display: flex;
  gap: 48px;
}

.menuItem {
}

.btn {
  padding: 8px 12px;
  border-radius: 100vmax;
}

.btns {
  display: flex;
  gap: 10px;
}

.btnAnim {
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity .2s ease-out 0s, transform .1s ease-out 0s;

  a {
    color: var(--white);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    transform: scale(0.98);
  }
}