.member {
  flex: 1 0 50%;
  border: 1px solid var(--white-opacity-02);
  border-radius: 40px;
  padding: 32px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: opacity .2s ease-out 0s;

  &:hover {
    opacity: 0.8;
  }

  p {
    color: var(--white-opacity-05);
    font-size: var(--fz12);
    line-height: var(--lh12);
  }

  h5 {
    font-size: var(--fz14);
    line-height: var(--lh14);
  }
}

.avatar {
  width: 100%;
  height: 423px;
  margin-bottom: 12px;
}