.member {
  border: 1px solid var(--white-opacity-02);
  border-radius: 40px;
  padding: 32px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: opacity .2s ease-out 0s;

  &:hover {
    opacity: 0.8;
  }

  p {
    color: var(--white-opacity-05);
    font-size: var(--fz12);
    line-height: var(--lh12);
  }

  h5 {
    font-size: var(--fz14);
    line-height: var(--lh14);
  }
}

.imgCnt {
  width: 100%;
  height: 423px;
  margin-bottom: 12px;
}

.avatar {
  width: 100%;
  height: 100%;
}

@media(max-width: 859.98px) {
  .member {
    padding: 22px 10px;
  }

  .avatar {
    border-radius: 20px;
  }
}

@media(max-width: 589.98px) {
  .imgCnt {
    height: 323px;
  }
}

@media(max-width: 589.98px) {
  .imgCnt {
    display: flex;
    justify-content: center;
  }
}