.section {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 32px;
  box-shadow: inset 0px -117px 122px -18px rgba(0,0,0,0.75);
}

.title {
  font-size: var(--fz64);
  font-weight: 700;
  line-height: var(--lh64);
  text-transform: uppercase;
  margin-bottom: 24px;
}

.text {
  font-size: var(--fz14);
  font-weight: 400;
  line-height: var(--lh14);
  max-width: 450px;
}