.section {
  margin-top: 100px;
}

.content {
  max-width: var(--max-width);
  margin: 0 auto;
  flex-direction: column;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: calc(76/64 * 100%);
  margin-bottom: 32px;
}
