.section {
  margin-top: 100px;
}

.content {
  max-width: var(--max-width);
  margin: 0 auto;
  flex-direction: column;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--fz64);
  font-weight: 700;
  line-height: var(--lh64);
  margin-bottom: 32px;
}
