.counter {
  display: flex;
  flex-direction: column;
  flex: 0 1 33%;
  text-align: center;
}

.value {
  font-size: var(--fz64);
  font-weight: 700;
  line-height: var(--lh64);
}

.label {
  font-size: var(--fz32);
  font-weight: 400;
  line-height: var(--lh32);
  text-transform: uppercase;
}