.custom-prev, .custom-next {
    font-size: var(--fz24);
    color: var(--white);
    cursor: pointer;
    padding: 10px;
}

.disabled {
    cursor: default;
    opacity: .5;
}

.custom-pagination {
    display: flex;
    justify-content: center;
}

.custom-bullet {
    background-color: var(--white);
    width: 10px;
    height: 10px;
    border-radius: 100vmax;
    margin: 0 5px;
    opacity: .5;
    transition: opacity .3s ease-out 0s;
    cursor: pointer;
}

.custom-bullet-active {
    opacity: 1;
    cursor: default;
}