.section {
  margin: 100px 0;
}

.content {
  display: flex;
  gap: 32px;
}

@media(max-width: 761px) {
  .section {
    margin: 50px 0;
  }

  .content {
    align-items: center;
    flex-direction: column;
    gap: 80px;
  }
}