@import 'fonts.css';

:root {
  --max-width: 1320px;

  --white: #FFFFFF;
  --black: rgba(0, 0, 0);
  --main-theme: rgba(0, 0, 0);

  --white-opacity-08: rgba(255, 255, 255, .8);
  --white-opacity-05: rgba(255, 255, 255, .5);
  --white-opacity-03: rgba(255, 255, 255, .3);
  --white-opacity-02: rgba(255, 255, 255, .1);
  --white-opacity-01: rgba(255, 255, 255, .1);

  --fz12: clamp(8px, 1.5vw + 0.5rem, 12px);
  --lh12: clamp(12px, 2vw + 0.5rem, calc(24/var(--fz12) * 100%));

  --fz14: clamp(10px, 2vw + 0.5rem, 14px);
  --lh14: clamp(14px, 2.5vw + 0.5rem, calc(24/var(--fz14) * 100%));

  --fz16: clamp(12px, 2.5vw + 0.5rem, 16px);
  --lh16: clamp(16px, 2.8vw + 0.5rem, calc(24/var(--fz16) * 100%));

  --fz24: clamp(18px, 3vw + 0.5rem, 24px);
  --lh24: clamp(22px, 3.5vw + 0.5rem, calc(28/var(--fz24) * 100%));

  --fz32: clamp(22px, 3.5vw + 0.5rem, 32px);
  --lh32: clamp(28px, 4vw + 0.5rem, calc(38/var(--fz32) * 100%));

  --fz64: clamp(40px, 5vw + 0.5rem, 64px);
  --lh64: clamp(48px, 6vw + 0.5rem, calc(76/var(--fz64) * 100%));

  --fz100: clamp(60px, 6.5vw + 0.5rem, 100px);
  --lh100: clamp(80px, 8vw + 0.5rem, calc(118/var(--fz100)));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar-track
{
  background-color: var(--white);
}

*::-webkit-scrollbar
{
  width: 10px;
  background-color: var(--white);
}

*::-webkit-scrollbar-thumb
{
  background-color: var(--black);
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-size: var(--fz16);
  margin: 0;
  font-weight: 400;
  line-height: var(--lh16);
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: var(--white);
  background-color: var(--main-theme);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a:not {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  transition: background-color .1s ease-out;
}

.main {
  flex: 1 1 auto;
}

[class*="cnt"] {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 60px;
  flex-direction: column;
}

@media (max-width: 767.98px) {
  [class*="cnt"] {
    padding: 0 20px;
  }
}