@import 'fonts.css';

:root {
  --max-width: 1320px;

  --white: #FFFFFF;
  --black: rgba(0, 0, 0);
  --main-theme: rgba(0, 0, 0);
  --white-opacity-05: rgba(255, 255, 255, .5);
  --white-opacity-03: rgba(255, 255, 255, .3);
  --white-opacity-02: rgba(255, 255, 255, .1);
  --white-opacity-01: rgba(255, 255, 255, .1);

  --fz12: 12px;
  --lh12: calc(24/var(--fz12) * 100%);

  --fz14: 14px;
  --lh14: calc(24/var(--fz14) * 100%);

  --fz16: 16px;
  --lh16: calc(24/var(--fz16) * 100%);

  --fz24: 24px;
  --lh24: calc(28/var(--fz24) * 100%);

  --fz32: 32px;
  --lh32: calc(38/var(--fz32) * 100%);

  --fz64: 64px;
  --lh64: calc(76/var(--fz64) * 100%);

  --fz100: 100px;
  --lh100: calc(118/var(--fz100));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar-track
{
  background-color: var(--white);
}

*::-webkit-scrollbar
{
  width: 10px;
  background-color: var(--white);
}

*::-webkit-scrollbar-thumb
{
  background-color: var(--black);
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-size: var(--fz16);
  margin: 0;
  font-weight: 400;
  line-height: var(--lh16);
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: var(--white);
  background-color: var(--main-theme);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a:not {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  outline: none;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  transition: background-color .1s ease-out;
}

.main {
  flex: 1 1 auto;
}

[class*="cnt"] {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 60px;
  flex-direction: column;
}

@media (max-width: 767.98px) {
  [class*="cnt"] {
    padding: 0 20px;
  }
}