.characteristics {
}

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--white-opacity-01);
  padding: 8px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(17/14 * 100%);
}