.custom-gallery-pagination {
    display: flex;
    justify-content: center;
}

.custom-gallery-bullet {
    background-color: var(--white);
    width: 12px;
    height: 12px;
    border-radius: 100vmax;
    margin: 0 5px;
    opacity: .5;
    transition: opacity .3s ease-out 0s;
    cursor: pointer;
}

.custom-gallery-bullet-active {
    opacity: 1;
    cursor: default;
}