name: Vercel Production Deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  push:
    branches:
      - main
jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: yarn install

      - name: Run ESLint
        run: yarn lint

      - name: Run Ñhecking for extra code
        run: |
          if grep -r 'console.log' ./src; then
            echo "Error: console.log statements found" >&2
            exit 1
          fi
          if yarn tsc --noEmit | grep 'error TS6133'; then
            echo "Error: Unused variables found" >&2
            exit 1
          fi

      - name: Run tests
        run: yarn test

      - name: Install Vercel CLI
        run: yarn dlx vercel@latest --version

      - name: Pull Vercel Env. Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        id: deploy
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deployment to Production
        run: |
          DEPLOYMENT_URL=$(vercel --token=${{ secrets.VERCEL_TOKEN }} --scope ${{ secrets.VERCEL_ORG_ID }} inspect | jq -r .alias[0])
          vercel alias $DEPLOYMENT_URL spacex-rocket-rust.vercel.app --token=${{ secrets.VERCEL_TOKEN }}
          echo "Deployment promoted to production!"
